body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
    padding: 50px;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: #498e4b;
}

.comparison-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
}

@media only screen and (max-width: 710px) {
    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}